<!doctype html>
<html>
  <head>
    <title>Fitness Page Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}

                {% if messages %}

                {% for category, message in messages %}

                <div class="alert alert-{{ category }} alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}
      <h1>Welcome! Please login</h1>
      <form method="post" action="http://localhost:5000/login">
        <input type="text" placeholder="Username" name="username" id="username">
        <input type="password" placeholder="Password" name="password" id="password">
        <button class="btn btn-secondary">Login</button>
      </form>
      <form method="post" action="http://localhost:5000/rendersignup">
        <button class="btn btn-secondary">Click here to sign up!</button>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>