{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Menu {% endblock %}

{% block body %}

<h1 style="text-align:center">Choose the Table to View</h1>

<div class="text-center">

    <a href="/users_foods" class="btn btn-primary">UsersFoods Table</a>
    <a href="/users_exercises" class="btn btn-primary">UsersExercises Table</a>
    <a href="/foodHistory" class="btn btn-primary">User's Food History Table</a>
    <a href="/exerciseHistory" class="btn btn-primary">User's Exercise History Table</a>
    <!--    <a href="/food" class="btn btn-primary">Food Table</a>-->
<!--    <a href="/totalCals" class="btn btn-primary">Total Calories Consumed</a>-->
<!--    <a href="/totalBurned" class="btn btn-primary">Total Calories Burned</a>-->
    <a href="/userTotalCals" class="btn btn-primary"> User's Total Calories Consumed</a>
    <a href="/userTotalBurned" class="btn btn-primary"> User's Total Calories Burned</a>

</div>

{% endblock %}