{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} User's Foods {% endblock %}

{% block body %}

<div class="text-center">

    <a href="/users_exercises" class="btn btn-primary">UsersExercises Table</a>
    <a href="/foodHistory" class="btn btn-primary">User's Food History Table</a>
    <a href="/exerciseHistory" class="btn btn-primary">User's Exercise History Table</a>
    <!--    <a href="/food" class="btn btn-primary">Food Table</a>-->
    <a href="/totalCals" class="btn btn-primary">Total Calories Consumed</a>
    <a href="/totalBurned" class="btn btn-primary">Total Calories Burned</a>

</div>


<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">


                <table class="table table-hover table-dark userFoods_table">

                    <thead>
                    <tr>
                        <th>usersFoodsId</th>
                        <th>userId</th>
                        <th>foodId</th>
                    </tr>
                    </thead>

                    <tbody>
                   {% for row in users_foods %}
                    <tr>
                        <td>{{row.usersFoodsId}}</td>
                        <td>{{row.userId}}</td>
                        <td>{{row.foodId}}</td>

                    </tr>




                    {% endfor %}
                    </tbody>

                </table>


            </div>

        </div>

    </div>


</div>

<script>
    $('.userFoods_table').DataTable();
</script>


{% endblock %}

